<div class="card">
  <p class="title">Country Quiz</p>
  <img class="card-img" src="assets/undraw1.svg" alt="aventure" />
  <div *ngIf="countAnswer < 10" class="card-content">
    <div class="card-question">
      <img *ngIf="currentQuiz.includes('belong')" class="card-flag" src="{{ currentCountry.flag }}" alt="{{currentCountry.name}}" />
      <p>{{currentQuiz.includes('capital')? currentCountry.name: ""}} {{ currentQuiz }}</p>
    </div>
    <ul>
      <app-list-item
        [listItem]="item"
        (addNewQuizEvent)="addNewQuiz($event)"
        [index]="i"
        [countSelect]="countSelect"
        [correctAnswer]="correctAnswer"
        [currentCountry]="currentCountry"
        *ngFor="let item of countriesList; index as i"
      ></app-list-item>
    </ul>
    <button *ngIf="countSelect > 0" class="btn-next" (click)="handleNextQuiz()">next</button>
  </div>
  <app-card-finish *ngIf="countAnswer === 10" (tryAgain)="tryAgain()" [correctAnswer]="correctAnswer" [countAnswer]="countAnswer"></app-card-finish> 
</div>
