
.list {
    text-align: left;
    font-size: 15px;
    width: 290px;
    height: 40px;
    margin:10px auto;
    border-radius:10px;
    border:#6066D0 solid 1px;
    color:#4248b9;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.list:hover {
    background: #F9A826;
    color:white;
}

.list p:nth-child(1) {
    padding: 0 20px;
}

.list i {
    position:absolute;
    right:20px; 
}

.list.selected-correct {
    background: #60BF88;
    color:white;
}

.list.selected-incorrect {
    background: #EA8282;
    color:white;
}