<div
  class="list"
  (click)="handleClick(currentCountry.name, this.listItem.name)"
 [ngClass]="{
   'selected-correct': isTrue  || countSelect > 0 && this.listItem.name === this.currentCountry.name,
   'selected-incorrect': isTrue === false
 }" 
>
  <p>{{ this.letterArr[index] }}</p>
  <p>{{ this.listItem.name.split(' (')[0] }}</p>
  
 <i *ngIf="countSelect > 0" class="fa-regular" [ngClass]="{
    'fa-circle-check': isTrue === true || countSelect > 0 && this.listItem.name === this.currentCountry.name,
    'fa-circle-xmark': isTrue === false
 }" ></i>
</div>