
.list button {
    text-align: left;
    font-size: 15px;
    padding: 10px;
    width: 250px;
    margin:5px auto;
    border-radius:10px;
    outline: none;
    border:#6066D0 solid 1px;
    background: white;
}

.list button:hover {
    background: yellow;
}

.list li {
    list-style: none;
}